server:
  port: 5555

spring:
  datasource:
    url: jdbc:h2:mem:playsport;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

spring.h2.console.enabled: true
spring.h2.console.path: /h2-console
